@model cloudscribe.Pagination.Models.PagedResult<Product>
@addTagHelper *, cloudscribe.Web.Pagination

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <div class="main">
        <div class="phone-create p-4" style="width: 100%">
            <div class="header" style="width: 100%; margin-top: 0">
                <h2>Phones</h2>
                <a asp-action="Upsert"
                   class="btn btn-success"
                   style="display: flex; align-items: center">
                    <svg style="margin-right: 5px"
                         xmlns="http://www.w3.org/2000/svg"
                         width="16"
                         height="16"
                         fill="currentColor"
                         class="bi bi-plus-circle-fill"
                         viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                    </svg>
                    Add New Phone
                </a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Phone Name</th>
                        <th scope="col">Manufacturer</th>
                        <th scope="col">Memory</th>
                        <th scope="col">Operating System</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model.Data.Any())
                    {
                        @foreach (var item in Model.Data)
                        {
                            <tr>
                                <td scope="row">

                                    @if (item.Photos != null)
                                    {
                                        <img style="width: 100px" src="@item.Photos" />
                                    }
                                    else
                                    {
                                        <img style="width: 100px" src="/images/unnamed.png" />
                                    }
                                </td>
                                <td scope="row">@item.Name</td>
                                <td scope="row">@item.Category.Name</td>
                                <td scope="row">@item.Memory</td>
                                <td scope="row">@item.OperatingSystem</td>
                                <td scope="row">@Html.DisplayFor(m => item.Price) ₾</td>

                                <td>
                                    <a asp-action="Upsert" asp-route-id="@item.Id" class="btn btn-primary btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-pencil-fill"
                                             viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                        </svg>
                                    </a>
                                    <button asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-trash-fill"
                                             viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                                        </svg>
                                    </button>
                                </td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>
<div class="pagination-wrapper">
    <cs-pager cs-paging-pagenumber=Model.PageNumber
              cs-paging-totalitems=Model.TotalItems
              cs-paging-pagesize=Model.PageSize
              cs-pagenumber-param="pagenumber"
              asp-controller="Product"
              asp-action="Index"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link">
    </cs-pager>
</div>