@model MultiLayerApp.Areas.Customer.ViewModels.ShoppingCartViewModel

<form method="post">
    <div class="main">

        @if (Model.ListCart.Count() > 0)
        {
            <div class="phone-create" style="border-radius: 5px; overflow: hidden;">
                <div class="header p-4" style="width: 100%; margin-top: 0; background-color: #333333">
                    <h5 style="color: white;
      display: flex;
      align-items: flex-end;">
                        <svg style="height: 25px; width: 25px; margin-right:10px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                        </svg>
                        Shopping Cart
                    </h5>
                    <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-outline-info"> Continue Shopping </a>
                </div>

                <div class="shopping-cart-table p-4">


                    @foreach (var item in Model.ListCart)
                    {

                        <!-- One Row -->
                        <div class="shopping-cart-table-row">
                            <div class="left">
                                <img src="@item.Product.Photos" />
                                <div>
                                    <h3>@item.Product.Name</h3>
                                </div>
                            </div>

                            <div class="right">
                                <div class="row-price">₾@item.Price x @item.Count</div>

                                <div class="row-buttons">
                                    <div class="row-count-buttons">
                                        <a asp-action="minus" asp-route-cartId="@item.Id" class="btn btn-danger" style="width: 40px; height: 40px;">-</a>
                                        <a asp-action="plus" asp-route-cartId="@item.Id" class="btn btn-primary" style="width: 40px; height: 40px;">+</a>
                                    </div>

                                    <a asp-action="remove" asp-route-cartId="@item.Id" class="btn btn-danger" style="width: 40px; height: 40px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                        </svg>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <!-- One Row -->

                    }

                </div>

                <div class="shopping-cart-total">
                    <p>Total: <span>₾@Model.OrderHeader.OrderTotal</span></p>
                    <button class="btn btn-success">Summary</button>
                </div>

            </div>

        }
        else
        {
            <div>There are no items in the shopping cart.</div>
        }
    </div>
</form>